.git
.gitignore
.venv
venv
__pycache__
*.pyc
*.pyo
*.pyd
*.log
desktop/.dart_tool
desktop/build
desktop/.packages
desktop/.flutter-plugins
desktop/.flutter-plugins-dependencies
desktop/.pub-cache
desktop/.pub
logs
